<h2 style="color: rgb(0, 0, 0)">Chat</h2>

<br />

<div id="messages"></div>

<form onsubmit="return addMessage(this)">
    <input type="text" id="name" placeholder="Your email" />
    <input type="text" id="message" placeholder="Tell us something" />
    <input class="btn btn-success mt-3 mb-5" type="submit" value="Submit" />
</form>
